{% extends 'base.html' %} 

{% block center %} 
  <h2> RESERVAS </h2>

  <a href="{% url 'criar_reserva' %}" class="btn btn-success mb-3">Novo Cadastro</a>

  <table class="table table-bordered"> 
    <thead>
      <tr>
        <th>Nome da Empresa</th>
        <th>Categoria da Empresa</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for reserva in reservas %}  
      <tr>
        <td>{{ reserva.nome_empresa }}</td>
        <td>{{ reserva.categoria_empresa }}</td>
        <td>
          <a href="{% url 'detalhar_reserva' %}" class="btn btn-primary btn-sm">Detalhar</a>
          <a href="{% url 'reservas-update' pk=reserva.pk %}" class="btn btn-primary btn-sm">Editar</a>
          <a href="{% url 'reservas-delete' pk=reserva.pk %}" class="btn btn-danger btn-sm">Remover</a> 
        </td>
      </tr>
      {% endfor %}

      
    
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <div>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}